.loader-wrapper {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
// .MuiCircularProgress-colorPrimary {
//     color: #81bef0 !important;
// }
